.conatinerUserDetailsAndSavedItems{
    background-color: white;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 5%;
   height: 7%;
   border-bottom: 1px solid #D3D3D3;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   
   
}

.meuBotao {
    background: none;
    border: none;
 font-size: 0.7vw;
    cursor: pointer;
}
